.content-body {  /* flex container */
	
	display :flex;
	
}

.left-side-content { /* flex child */
	
	flex : 1; 
	
	
}

.center-content { /* flex child 2 Content */
	
	flex :4; 
	width : 60% ; 
	margin-right: auto ; 
}
.right-side-content { 
	flex : 1 ; 
	margin-left : 1%
	
}
.category-list { 
	
	list-style-type: none ; 
	 
	
	
}

#current-category-name {
	font-size: 28px ; 
	color : #0073e6 ; 
}

.info-list { 
	list-style-type : none ; 
}
.categories-table {
	width : 80%
}
.actions-list {
	list-style-type :none ; 
}